
.App {
  text-align: center;
  padding: 20px;
}

.title {
  color: #333;
  font-size: 24px;
  margin-bottom: 20px;
}

.map-wrapper {
  display: inline-block;
  width: 300px;
  height: 300px;
  border: 2px solid #ccc;
  border-radius: 10px;
  overflow: hidden;
}

.map-container {
  width: 100%;
  height: 100%;
}
.accuracy-alert {
  position: fixed;
  top: 20%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: white;
  border: 1px solid #ccc;
  padding: 20px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  z-index: 1000;
}

.carousel-container {
  width: 100%;
  max-width: 100px;
  margin: 0 auto;
}

.carousel .slide img {
  width: 100%;
  height: auto;
}

.carousel .legend {
  background-color: rgba(0, 0, 0, 0.7); /* Semi-transparent background */
  color: #fff;
  font-size: 16px;
  padding: 5px;
}


